// Utilities
$utilities: (
    "font-size-custom": (property: font-size,
        class: font,
        values: $font-size-custom )
);

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}